{% extends "base.html" %}
{% block title %}
    首页
{% endblock %}

{% block content %}
    <div class="row">
    <div class="col-2"></div>

    <div class="col-8">
        <br>
        <div class="card">
          <h3 class="card-header">404</h3>
          <div class="card-body">
            <h5 class="card-title">资源未找到</h5>
          </div>
            <br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
        <br>
    </div>

    <div class="col-2"></div>
    </div>
{% endblock %}