{% extends "base.html" %}

{% block title %}
    关于我
{% endblock %}

{% load staticfiles %}

{% block other %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/article_list.css' %}">
    <script src="{% static 'js/about.js' %}"></script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <br>
        <div class="shadow-lg p-3 mb-5 bg-white rounded">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-7">
                    <h4>{{ myinfo.net_name }}&nbsp;- &nbsp;{{ myinfo.en_name }}{% if myinfo.sex == 'male' %}.sir{% endif %}</h4>
                </div>
                <div class="col-3">
                    <img id="head_img" src="{{ media }}{{ myinfo.wechat }}" alt="" class="rounded float-lg-left d-block">
                </div>
            </div>

            <hr>
            <div class="row">
                <div class="col-2">
                    <h4 align="right">自我描述:</h4>
                </div>

                <div class="col-8">
                    <p class="text-justify">
                        {% autoescape off %}
                        {{ myinfo.describe }}
                        {% endautoescape %}
                    </p>
                </div>
                <div class="col-2"></div>
            </div>
            <br>
            <div class="row">
                <div class="col-2">
                    <h4 align="right">技能树:</h4>
                </div>

                <div class="col-8">
                {% for skill in skills %}
                <div class="row">
                    <div class="col-3">
                        <h6 align="right">{{ skill.skill }}:</h6>
                    </div>
                    <div class="col-8">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: {{ skill.score }}%" aria-valuenow="{{ skill.score }}" aria-valuemin="0" aria-valuemax="100"></div>
                            <h6>&nbsp;{{ skill.score }}%</h6>
                        </div>
                    </div>
                    <div class="col-1">
                    </div>
                </div>
                {% endfor %}

                </div>
                <div class="col-2"></div>
            </div>
            <hr>
            <br>
            <div align="center">
                <h1><text id="zan_num">{{ myinfo.num }}</text>&nbsp;次</h1>
                <img class="zan_img" style="cursor:pointer"  onclick="zan_onclick()" src="{% static 'image/zan.jpg' %}">
                <p align="center" >点个赞呗</p>
            </div>
            <br>
        </div>
    </div>
    <div class="col-2"></div>
</div>
{% endblock %}

