{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    首页
{% endblock %}
{% block other %}
    <script src="{% static 'js/article_list.js' %}"></script>
{% endblock %}
{% block content %}
    <br>
<div class="row">
    <div class="col-1"></div>

    <div class="col-7">
        <div class="card">
          <h5 class="card-header">{{ type }}</h5>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
    </div>

    <div class="col-3">
        <div class="card">
          <h5 class="card-header">最新文章</h5>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
        <br>
        <div class="card">
          <h5 class="card-header">标签</h5>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
    </div>
    <div class="col-1"></div>
    <br><br><br>
    <br><br><br>
    <br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br>
    <br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br>

</div>











{% endblock %}

















