{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    首页
{% endblock %}
{% block other %}
    <script src="{% static 'js/article_list.js' %}"></script>
{% endblock %}
{% block content %}
    <br>
<div class="row">
    <div class="col-1"></div>

    <div class="col-8" id="article_list">
        <div class="card">
          <h5 class="card-header">{{ type }}</h5>
          <div class="card-body" id="article_list_body">
          </div>
        </div>
    </div>

    <div class="col-2" id="article_right">
        <div class="card">
          <h5 class="card-header">最新文章</h5>
          <div class="card-body">
                {% for id,title in  new_article_list.items %}
                        <h6>&nbsp;<a href="{% url 'blog' %}article/{{ id }}">{{ title }}</a></h6>
                {% endfor %}
          </div>
        </div>
        <br>
        <div class="card">
          <h5 class="card-header">标签</h5>
          <div class="card-body">
              {% for id,title_info in  tags.items %}
                   <a href="{% url 'blog' %}tag/{{ id }}" class="badge badge-{{ title_info.1 }}">{{ title_info.0 }}</a>&nbsp;&nbsp;
              {% endfor %}
          </div>
        </div>
    </div>
    <div class="col-1"></div>
    <br><br><br>
    <br><br><br>
    <br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>











{% endblock %}

















