{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'image/logo.jpg' %}" type="img/x-ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{% static 'jquery/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}"  crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>{% block title %}{% endblock %}</title>
    {% block other %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <a class="navbar-brand" href="{% url 'home' %}">饕客</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">首页<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown active" id="nav_blog">
                <a class="nav-link dropdown-toggle" href="{% url 'blog' %}" data-toggle="dropdown">博客</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'blog' %}">全部</a>
                    {% for id,name,total in  group %}
                        <a class="dropdown-item" href="{% url 'blog' %}category/{{ id }}">{{ name }}({{ total }})</a>
                    {% endfor %}
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'about' %}">足迹<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'about' %}">关于我<span class="sr-only">(current)</span></a>
            </li>
        </ul>
    {% if request.user.is_authenticated %}
        <div id="user_opt">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">
                                <img class="img-circle user_head_img" src="{{ head_image }}">
                            </a>
                            <div class="dropdown-menu pull-left user_dropdown">
                                <div class="user_head_name_contain">
                                    <div class="user_contain">
                                        <img class="img-circle" src="{{ head_image }}" style="height: 150px;width: 150px;">
                                    </div>
                                    <div class="user_contain">
                                        <p class="user_name">{{ username }}</p>
                                    </div>
                            </div>
                            <div class="row" style="margin-left: 15px;margin-right: 15px;margin-top: 10px">
                                    <div class="col-7"></div>
                                    <div class="col-5">
                                        <a class="btn btn-sm btn-outline-success my-2 my-sm-0" href="{% url 'logout' %}" id="logout" role="button">退出登录</a>
                                    </div>
                            </div>
                        </li>
                    </ul>
                </div>
        </div>&nbsp;&nbsp;

    {% else %}
          <a class="btn btn-sm btn-outline-success my-2 my-sm-0" href="{% url 'login' %}" role="button">登录</a>&nbsp;&nbsp;
          <a class="btn btn-sm btn-outline-success my-2 my-sm-0" href="{% url 'register' %}" role="button">注册</a>&nbsp;&nbsp;
    {% endif %}
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">查找</button>
        </form>
    </div>
</nav>
{% block content %}{% endblock %}
    <footer class="footer bg-dark">
        <div class="container">
            <div class="footer__inner">
                <div class="footer__item">
                    <p>&copy; Company 2012</p>
                    <p>&copy; Company 2012</p>
                    <p>&copy; Company 2012</p>
                    <p>&copy; Company 2012</p>
                    <p>&copy; Company 2012</p>
                    <p>&copy; Company 2012</p>
                    <div class="d-md-flex justify-content-between align-items-center"></div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>